<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
</head>
<body style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
  <form method="post" action="/new" style="display: flex; flex-direction: column; width: 20vw; gap: 30px;" >
    <input style="font-size: 30px;" name="text" placeholder="Enter your message" required />
    <input style="font-size: 30px;" name="user" placeholder="Enter Username" required />
    <button type="submit" style="width: 50%; font-size: 20px;">Sumbit</button>
    <button><a href="/" style="width: 50%; font-size: 20px;">Home</a></button>
  </form>
</body>
</html>